<div class="map-chat">
  <div class="map" #map id="map"></div>
  <div class="pano" id="pano" #pano></div>
  <div class="row side-bar">
    <div class=" panel-group">
      <div class="panel" (click)="showChatPanel('Friends')" [ngClass]="{'panel-active': panelHeading === 'Friends'}">
        <i class="fa fa-address-book fa-lg" aria-hidden="true" tooltip="Friends" tooltipPlacement="right"></i>
      </div>
      <div class="panel"  (click)="showChatPanel('Users')" [ngClass]="{'panel-active': panelHeading === 'Users'}">
        <i class="fa fa-users fa-lg" aria-hidden="true" tooltip="Users" tooltipPlacement="right"></i>
      </div>
       <div class="panel"  (click)="showChatPanel('Groups')" [ngClass]="{'panel-active': panelHeading === 'Groups'}">
        <i class="fa fa-handshake-o fa-lg" aria-hidden="true" tooltip="Groups" tooltipPlacement="right"></i>
      </div>
       <div class="panel"  (click)="showChatPanel('Events')" [ngClass]="{'panel-active': panelHeading === 'Events'}">
        <i class="fa fa-calendar fa-lg" aria-hidden="true" tooltip="Events" tooltipPlacement="right"></i>
      </div>
    </div>
  </div>
  <section class="row chat-panel" *ngIf="showList">
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
         {{ panelHeading }}
          <i (click)="showUserList()" class=" fa fa-lg pull-right panel-icon fa-times-circle"></i>
        </div>
        <div class="panel-body chat-panel-list">
          <ul class="chat-main-ul">
            <li>
              <div class="panel panel-default">
                <div class="panel-heading" (click)="mainLiClick(user)">
                  <img [src]='user.iconUrl' class="userImg pull-left" />
                  <div class="username pull-right"><b> {{user.displayName}}</b></div>
                </div>
                <div class="panel-body" [ngClass]="{'display-block': user._id === showPanel, 'display-none': user._id !== showPanel}">
                  <p *ngIf="user.phone">Phone - <span> {{user.phone}}</span></p>
                  <p>Email - <span>{{user.email}}</span></p>
                </div>
              </div>
            </li>
            <li *ngFor="let fr of friends">
              <div class="panel panel-default">
                <div class="panel-heading" (click)="mainLiClick(fr)" (dblclick)="initiateChatDialog(fr)">
                  <img [src]='fr.iconUrl' class="userImg pull-left" />
                  <span class="writer" *ngIf="writerName !== fr.username && fr.logedIn.isLogedIn == true">online</span>
                  <span class="writer" *ngIf="writerName !== fr.username && fr.logedIn.isLogedIn == false">offline </span>
                  <span class="writer" *ngIf="writerName === fr.username"> is typing...</span>
                  <span class="unread" *ngIf="fr.unreadMessage > 0">{{fr.unreadMessage}} </span>
                  <div class="username pull-right"><b> {{fr.displayName}}</b></div>
                </div>
                <div [ngClass]="{'display-block': fr._id === showPanel, 'display-none': fr._id !== showPanel}">
                  <div class="panel-body ">
                    <p *ngIf="fr.phone">Phone - <span> {{fr.phone}}</span></p>
                    <p>Email - <span>{{fr.email}}</span></p>
                    <hr>
                    <div *ngIf="messages.length > 0" class="chat-area" #scroll>
                      <div *ngFor="let msg of messages">
                        <p class="message sender" *ngIf="fr._id === msg.sender">
                          <span>  {{msg.content }} </span>
                        </p>
                        <p class="message receiver" *ngIf="fr._id === msg.receiver">
                          <span>  {{msg.content }} </span>
                        </p>
                      </div>
                    </div>
                    <div *ngIf="messages.length === 0">
                      <p class="message">start a new conversation</p>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <input placeholder="Write your message and hit enter" name="content" [(ngModel)]="content" class="form-control" type="text"
                      (keyup)="onKeyUp($event,fr)" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>