<div class="map-chat">
  <div class="map" #map id="map">
  </div>
  <section class="row chat-panel">
    <div class="panel-group" [ngClass]="{'p-g-width':!showList }">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Friends
          <i (click)="showUserList()" class=" fa fa-lg pull-right panel-icon" [ngClass]="{' fa-minus-circle ': showList, 'fa-plus-circle': !showList}"></i>
        </div>
        <div class="panel-body chat-panel-list" *ngIf="showList">
          <ul class="chat-main-ul">
            <li>
              <div class="panel panel-default">
                <div class="panel-heading" (click)="mainLiClick(user)">
                  <img [src]='user.iconUrl' class="userImg pull-left" />
                  <div class="username pull-right"><b> {{user.username}}</b></div>
                </div>
                <div class="panel-body" [ngClass]="{'display-block': user._id === showPanel, 'display-none': user._id !== showPanel}">
                  <p *ngIf="user.phone">Phone - <span> {{user.phone}}</span></p>
                  <p>Email - <span>{{user.email}}</span></p>
                </div>
              </div>
            </li>
            <li *ngFor="let fr of friends">
              <div class="panel panel-default">
                <div class="panel-heading" (click)="mainLiClick(fr)" (dblclick)="initiateChatDialog(fr)">
                  <img [src]='fr.iconUrl' class="userImg pull-left" />
                  <span class="writer" *ngIf="writerName !== fr.username && fr.logedIn.isLogedIn == true">online</span>
                  <span class="writer" *ngIf="writerName !== fr.username && fr.logedIn.isLogedIn == false">offline </span>
                  <span class="writer" *ngIf="writerName === fr.username"> is typing...</span>
                  <span class="unread" *ngIf="fr.unreadMessage > 0">{{fr.unreadMessage}} </span>
                  <div class="username pull-right"><b> {{fr.username}}</b></div>
                </div>
                <div [ngClass]="{'display-block': fr._id === showPanel, 'display-none': fr._id !== showPanel}">
                  <div class="panel-body ">
                    <p *ngIf="fr.phone">Phone - <span> {{fr.phone}}</span></p>
                    <p>Email - <span>{{fr.email}}</span></p>
                    <hr>
                    <div *ngIf="messages.length > 0" class="chat-area" #scroll>
                      <div *ngFor="let msg of messages">
                        <p class="message sender" *ngIf="fr._id === msg.sender">
                          <span>  {{msg.content }} </span>
                        </p>
                        <p class="message receiver" *ngIf="fr._id === msg.receiver">
                          <span>  {{msg.content }} </span>
                        </p>
                      </div>
                    </div>
                    <div *ngIf="messages.length === 0">
                      <p class="message">start a new conversation</p>
                    </div>
                  </div>
                  <div class="panel-footer">
                    <input placeholder="Write your message and hit enter" name="content" [(ngModel)]="content" class="form-control" type="text"
                      (keyup)="onKeyUp($event,fr)" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>