footer{
    color: #fff;
    background-color: #263238;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer .content {
    margin-left: 10px;
    font-size: 0.8rem;
    color: #bbb;
}

footer a {
    color: #fff;
}