<section class="hero">
  <div class="hero-content" >
    <img [src]="user.image" *ngIf="user.image" class="userImg" />
    <h3>{{user.username}}</h3>
     <button  class="btn btn-lg btn-danger btn-logout" (click)="logout()">Click here to logout</button>    
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12 auth">
      <h1 class="title">Update Profile</h1>
      <ul class="error-message" *ngIf="errorList">
        <li *ngFor="let err of errorList"> {{err }} </li>
      </ul>
      <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <input placeholder="Url of profile picture" formControlName="image" class="form-control" type="text" />
        </div>
        <div class="form-group">
          <input placeholder="Username" formControlName="username" class="form-control" type="text" />
        </div>
        <div class="form-group">
          <input placeholder="Email" class="form-control" formControlName="email" type="text" />
        </div>
        <div class="form-group">
          <input placeholder="Phone" class="form-control" formControlName="phone" type="text" />
        </div>
        <div class="form-group">
          <input placeholder="Password" class="form-control" formControlName="password" type="password" />
        </div>
        <button class="btn btn-lg btn-primary pull-right" type="submit">Update</button>
      </form>
    </div>
  </div>
</div>